/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        BT_SETTINGS: BT_SETTINGS {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_SETTINGS";
            #binding-cells = <0>;
            bindings = <&none>, <&none>, <&to 0>;
        };

        HW: HW {
            compatible = "zmk,behavior-hold-tap";
            label = "HW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        HWLT: HWLT {
            compatible = "zmk,behavior-hold-tap";
            label = "HWLT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp Q      &kp W        &kp E             &kp R               &kp T             &kp Y            &kp U                &kp I              &kp O                &kp P              &kp BSPC
&none       &HWLT 2 A  &HW LCTRL S  &HW LEFT_SHIFT D  &HW LEFT_COMMAND F  &HW LEFT_ALT G    &HW RIGHT_ALT H  &HW RIGHT_COMMAND J  &HW RIGHT_SHIFT K  &HW RIGHT_CONTROL L  &HWLT 2 SEMICOLON  &none
&none       &kp Z      &kp X        &kp C             &kp V               &kp B             &kp N            &kp M                &none              &none                &none              &kp ESCAPE
                                    &HWLT 3 TAB       &HWLT 1 SPACE       &HWLT 4 ENTER     &HWLT 4 ENTER    &HWLT 1 SPACE        &HWLT 3 LS(TAB)
            >;
        };

        symbols {
            bindings = <
&kp ESC         &kp PIPE                 &kp AMPERSAND                &kp SINGLE_QUOTE          &kp HASH           &kp GREATER_THAN    &kp LESS_THAN     &kp MINUS              &kp PLUS          &kp FSLH                      &kp ASTERISK              &kp BSPC
&kp LEFT_BRACE  &HWLT 2 LEFT_BRACKET     &HW LCTRL LEFT_PARENTHESIS   &HW LEFT_SHIFT DOUBLE_QUOTES &HW LEFT_COMMAND PERIOD &HW LEFT_ALT COMMA &HW RIGHT_ALT COLON &HW RIGHT_COMMAND UNDERSCORE &HW RIGHT_SHIFT EQUAL &HW RIGHT_CONTROL RIGHT_PARENTHESIS &HWLT 2 RIGHT_BRACKET &kp RIGHT_BRACE
&kp TAB         &kp DOLLAR               &kp TILDE                    &kp GRAVE                 &kp EXCLAMATION    &kp QUESTION        &kp SEMI          &kp AT_SIGN            &kp PERCENT       &kp BSLH                      &kp CARET                 &kp ESCAPE
                                                                      &trans                    &trans             &trans              &trans            &trans                 &trans
            >;
        };

        numbers {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &trans  &trans
                        &trans  &trans  &trans    &trans    &trans    &trans
            >;
        };

        control {
            bindings = <
&kp MINUS         &kp EQUAL  &kp LG(LC(A))              &kp LC(UP_ARROW)      &kp LG(LC(S))               &kp LG(LS(NUMBER_4))        &none     &none     &none   &none      &none  &kp BACKSPACE
&kp LG(LEFT_ALT)  &kp LCMD   &HWLT LCTRL LC(LEFT_ARROW) &HW LEFT_SHIFT LG(LA(C)) &HW LEFT_COMMAND LC(RIGHT_ARROW) &HWLT LEFT_ALT LG(LC(LA(N))) &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none  &none
&none             &none      &kp LG(LC(Z))              &kp LC(DOWN_ARROW)    &kp LG(LC(X))               &kp LG(LC(LA(SPACE)))       &none     &none     &none   &none      &none  &kp ESC
                                                        &trans                &trans                      &trans                      &trans    &trans    &trans
            >;
        };

        vscode {
            bindings = <
&kp ESC        &none             &kp LG(W)         &none      &kp LG(R)         &kp LG(T)    &kp LS(LG(N))  &kp LG(O)        &kp LS(LG(I))  &kp LG(FSLH)   &none        &kp BSPC
&none          &HWLT 2 LG(A)     &HW LCTRL LG(S)   &trans     &HWLT 2 LG(F)     &trans       &kp LEFT       &kp DOWN         &kp UP         &kp RIGHT      &none        &none
&kp LS(LG(Z))  &kp LG(Z)         &kp LG(X)         &kp LG(C)  &kp LG(V)         &none        &kp LS(LG(P))  &kp LS(LG(RET))  &kp LA(RET)    &kp LC(GRAVE)  &kp LG(DOT)  &kp ESC
                                                   &trans     &trans            &trans       &trans         &trans           &trans
            >;
        };

        bluethooth {
            bindings = <
&none  &none         &none         &none         &none         &none           &none       &none           &none  &none  &none  &none
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none       &none           &none  &none  &none  &none
&none  &none         &none         &none         &none         &none           &bt BT_CLR  &bt BT_CLR_ALL  &none  &none  &none  &to 0
                                   &none         &none         &none           &none       &none           &none
            >;
        };

        template {
            bindings = <
&kp ESC  &none         &none         &none         &none         &none           &none         &none         &none         &none         &none                 &kp BSPC
&none    &HWLT 2 A     &HW LCTRL S   &HW LEFT_SHIFT D &HW LEFT_COMMAND F &HW LEFT_ALT G &HW RIGHT_ALT H &HW RIGHT_COMMAND J &HW RIGHT_SHIFT K &HW RIGHT_CONTROL L &HWLT 2 SEMICOLON &none
&none    &none         &none         &none         &none         &none           &none         &none         &none         &none         &none                 &kp ESCAPE
                                     &trans        &trans        &trans          &trans        &trans        &trans
            >;
        };
    };
};